<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
	<tlib-version>1.0</tlib-version>
	<short-name>ctg</short-name>
	<uri>customtags</uri>
	<tag>
		<name>roletag</name>
		<tag-class>by.epam.library.tag.RoleTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>role</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>footer</name>
		<tag-class>by.epam.library.tag.FooterTag</tag-class>
		<body-content>empty</body-content>
	</tag>
</taglib>